{{#each this}}
<li class="cart-dish__item">
    <div class="cart-dish__item-wrapper">
        <span class="cart-dish__list-item">{{name}}</span>
        <div class="cart-dish__list-item-block">
            <span class="cart-dish__list-item">serv: {{quantity}}</span>
            <span class="cart-dish__list-item">price: {{price}}</span>
            <button class="remove" data-id="{{id}}">remove</button>
        </div>
    </div>
</li>
{{/each}}